#Uploading the client file and model

#Client file Analysis

In [18]:
import pandas as pd
df=pd.read_csv('/content/rspareagebed.csv')
df

   area  bedroom  age
0  1500        2    5
1  2200        3    7
2  2600        4    8
3  3200        5    9
4  3400        4    8
5  3600        6   10
6  3800        7   11
7  4100        8   12
8  4400        9   15

#avtivate the ML Model

In [19]:
#we have to avtivate the ML Model
import pickle
with open('/content/rspuramhousingmodel','rb') as f:
  reg=pickle.load(f)

#Predict the data

In [20]:
reg.predict([[2200,2,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21910659.99668344])

In [21]:
reg.predict([[3500,3,9]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4442717.37327954])

In [24]:
pricedf=reg.predict(df)

In [25]:
df['price']=pricedf
df

   area  bedroom  age         price
0  1500        2    5  2.300095e+07
1  2200        3    7  1.576387e+07
2  2600        4    8  1.167027e+07
3  3200        5    9  6.138334e+06
4  3400        4    8  5.916914e+06
5  3600        6   10  2.044735e+06
6  3800        7   11 -6.105246e+05
7  4100        8   12 -3.984954e+06
8  4400        9   15 -9.331330e+06

In [28]:
df.to_csv('clientoutput.csv',index=False)