#Uploading the client file and model

#Client File Analysis

In [1]:
import pandas as pd
df=pd.read_csv("/content/testexp.csv")
df

   experience  testscore  interviewscore
0           5          8               9
1           3          7               7
2           4          6               6
3           7          7               5
4          11          5              10
5          10          9               8
6           8         10               0
7           2          9               5
8           6         11               7
9           1          4              11

In [2]:
#Activate the ML model
import pickle
with open('/content/hiringmodel','rb') as f:
  reg=pickle.load(f)

#Predict the data

In [3]:
reg.predict([[2,9,7]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([414665.37647214])

In [4]:
salarydf=reg.predict(df)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- interviewscore
- testscore
Feature names seen at fit time, yet now missing:
- interview score(out of 10)
- test score(out of 10)

  warnings.warn(message, FutureWarning)

In [5]:
df['salary']=salarydf
df

   experience  testscore  interviewscore        salary
0           5          8               9  6.787078e+04
1           3          7               7  2.390077e+05
2           4          6               6  2.643651e+05
3           7          7               5  4.374430e+05
4          11          5              10 -3.553638e+05
5          10          9               8  2.223238e+05
6           8         10               0  1.266860e+06
7           2          9               5  6.503502e+05
8           6         11               7  5.437610e+05
9           1          4              11 -4.632549e+05

In [6]:
df.to_csv('clientuotput.csv',index=False)