#Uploading a client file and model

#Client file analysis

In [4]:
import pandas as pd
df=pd.read_csv('/content/areapri - Sheet1.csv')
df

   area
0   100
1   200
2   300
3   400
4   500
5   600
6   700
7   800
8   900
9  1000

#activate the ML model

In [2]:
#we have to activate the ML model
import pickle
with open('/content/houseareaprice','rb') as f:
  reg=pickle.load(f)

#Predict the data

In [5]:
reg.predict([[2500]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([39000.])

In [9]:
pricedf=reg.predict(df)

In [10]:
df['price']=pricedf
df

   area     price
0   100  244440.0
1   200  235880.0
2   300  227320.0
3   400  218760.0
4   500  210200.0
5   600  201640.0
6   700  193080.0
7   800  184520.0
8   900  175960.0
9  1000  167400.0

In [15]:
df.to_csv('clientoutput.csv',index=False)